{% extends "base_no_footer.html" %}
{% load staticfiles %}
{% block title %}{{CITY_COUNCIL_NAME}} Members{% endblock %}


{% block extra_css %}
    {% if MAP_CONFIG %}
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    {% endif %}
{% endblock %}


{% block full_content %}
<div class="container-fluid">
    {% if MAP_CONFIG %}
    <div class="row-fluid non-desktop-only">
        <div class="col-sm-12">
            <h1>City Council Members</h1>
        </div>
    </div>
    <br/>
    {% else %}
    <div class="row-fluid">
        <div class="col-sm-12">
            <br/>
            <h1>City Council Members</h1>
            <hr />
        </div>
    </div>
    {% endif %}

    <div class="row-fluid">
        {% if MAP_CONFIG %}
            <div class='col-sm-7'>
                {% include 'partials/map.html' %}
            </div>
            <div class="col-sm-5 no-pad-mobile">
                <div id="council-member-scroll-area">
                    {% include 'partials/council_member_table.html' %}
                </div>
            </div>
        {% else %}
            <div class="col-sm-8 no-pad-mobile">
                {% include 'partials/council_member_table.html' %}
            </div>
            <div class='col-sm-4'>
                {% include 'partials/council_info_blurb.html' %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

    <script>
        $("#council-members").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [2,'asc'] ],
            "aoColumns": [
                { "bSortable": false },
                null,
                { "sType": "num-html" }
            ]
        });
    </script>


{% endblock %}
