{% load staticfiles %}

<div id="map">
</div>

<script src="{% static 'js/leaflet.js' %}" /></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<script>

    var map = L.map('map', {
        scrollWheelZoom: false,
        center: {{MAP_CONFIG.center}},
        zoom: {{MAP_CONFIG.zoom}}
    });

    var layer = new L.StamenTileLayer("toner-lite");
    map.addLayer(layer);

    var infoBox = L.control({'position': 'bottomleft'});

    infoBox.onAdd = function() {
        this._div = L.DomUtil.create('div', 'infobox');
        this.update();
        return this._div;
    }

    infoBox.update = function(properties){
        if(properties){
            var info = '<h4>' + properties.district + '</h4>';
            info += '<p>' + properties.council_member + '</p>';
            this._div.innerHTML = info;
        }
    }

    infoBox.clear = function(){
        this._div.innerHTML = '<h4>{{CITY_NAME_SHORT}} Council Districts</h4><p><i class="fa fa-hand-pointer-o fa-fw"></i>Hover for details</p>';
    }

    infoBox.addTo(map);
    infoBox.clear();

    var customOptions =
        {
        'className' : 'custom'
        }
    function onEachFeature(feature, layer) {
        if (feature.properties) {

            var center = layer.getBounds().getCenter();

            if (map){
                layer.layerPopup = L.popup(customOptions, layer)
                                    .setLatLng(center)
                                    .setContent(feature.properties.popupContent);


                layer.on('mouseover', function(e){
                    infoBox.update(e.target.feature.properties);
                    e.target.setStyle({'fillOpacity': 0.8});
                });

                layer.on('mouseout', function(e){
                    infoBox.clear();
                    e.target.setStyle({'fillOpacity': 0.2});
                })

                layer.on('tableover', function(e){
                    infoBox.update(e.target.feature.properties);
                    e.target.setStyle({'fillOpacity': 0.8})
                });

                layer.on('tableout', function(e){
                    infoBox.clear();
                    map.closePopup(e.target.layerPopup);
                    e.target.setStyle({'fillOpacity': 0.2});
                });
            }
        }
    }

    var geojson = L.geoJson({{ map_geojson|safe }}, {
        style: {
                "color": "{{MAP_CONFIG.color}}",
                "weight": 2,
                "opacity": 0.8,
                "fillOpacity": .2
            },
        onEachFeature: onEachFeature
    }).addTo(map);

</script>
