{% load staticfiles %}

<div id="map">
</div>

<script src="{% static 'js/leaflet.js' %}" /></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<script>

    var map = L.map('map', {
        scrollWheelZoom: false,
        center: {{MAP_CONFIG.center}},
        zoom: {{MAP_CONFIG.zoom}}
    });

    var layer = new L.StamenTileLayer("toner-lite");
    map.addLayer(layer);

    function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.popupContent) {
            layer.bindPopup(feature.properties.popupContent);
        }
    }


    {% for post in posts %}
        {% if post.shape %}
        var feature = {
            "type": "Feature",
            "properties": {
                "popupContent": "{{post.label}} - {{post.current_member.person.name}}"
            },
            "geometry":{{post.shape | safe}}
        }
        L.geoJson(feature, {
            style: {
                    "color": "{{MAP_CONFIG.color}}",
                    "weight": 2,
                    "opacity": 0.8,
                    "fillOpacity": .2
                },
            onEachFeature: onEachFeature
        }).addTo(map);

        {% endif %}
    {% endfor %}



</script>