<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.journal.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/city_custom.css' %}" />
</head>
<body>
    <div class="row-fluid">
        <div class="col-sm-12">
            <br class="non-mobile-only"/>
            <h1>Subscriptions</h1>
            <hr />
        </div>
    </div>

     <div class="row-fluid">
        <div class="col-sm-8 table-col">
		<h3>Bill Action Subscriptions</h3>
		<div class="table-responsive">
			<table class='table' id='subscriptions'>
			<thead>
			<tr>
				<th>Bill</th>
				<th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for bill, action in bill_action_updates %}
			    <tr class="update"  bill_id="{{bill.id}}" bill_slug ="{{bill.slug}}">
				    <td align="left">
					    <div>
						    {{bill.slug}}
					    </div>
				    </td>
				    <td>
					    <a href="{{SITE_URL}}{% url 'bill_detail' bill.slug %}">{{action.date|date:"SHORT_DATE_FORMAT"}}: {{action.description}}</a></td>
				    <td>
					    <a href="{{SITE_URL}}{% url 'bill_detail_action_feed' bill.slug %}" title="RSS feed for Actions for {{bill.name}}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
				    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


        <div class="col-sm-4">
            <div class='well info-blurb'>
                <h4><i class='fa fa-fw fa-info-circle'></i> What are subscriptions?</h4>

		<p>This page shows all of the recent notifications for the various people, committees, searches, bills, and events you are subscribed to.</p>
            </div>
        </div>
    </div>



