{% extends "base_with_margins.html" %}
{% load extras %}
{% load staticfiles %}
{% block title %}Subscriptions{% endblock %}
{% block content %}

    <div class="row-fluid">
        <div class="col-sm-12">
            <br class="non-mobile-only"/>
            <h1>
                <i class="fa fa-bullhorn fa-fw" aria-hidden="true"></i>
                Alerts
            </h1>
            <p>This page shows the people, committees, searches, bills, and events you are subscribed to.</p>
            <hr />
        </div>
    </div>

    <!-- XXX TODO: figure out why this "No Subscriptions" headers isn't working -->
    <!-- 
    {% if not person_subscriptions and not committee_event_subscriptions and not committee_event_subscriptions and not bill_action_subscriptions and not bill_search_subscriptions and not events_subscriptions %}
     <div class="row-fluid">
             <div class="col-sm-8 table-col">
		     <h3>No Subscriptions Found.</h3>
	     </div>
     </div>
    {% endif %}
    -->
     <div class="row-fluid">
        <div class="col-sm-8 table-col">
		<h3>{{ CITY_VOCAB.COUNCIL_MEMBERS }}</h3>
		<div class="table-responsive">
			<table class='table' id='subscriptions'>
			<thead>
			<tr>
				<th>Remove</th>
				<th>Name</th>
				<th>RSS</th>
                        </tr>
			</thead>
			<tbody>
				{% for subscription in person_subscriptions %}
				<tr class="subscription"  person_id="{{subscription.person.id}}" person_slug ="{{subscription.person.slug}}">
					<td align="left">
						<div>
						<input type="checkbox" class="removeButton" name="remove" style="float:left;">
						<span style="display: none;">&nbsp;<button class="removePersonSubscription">Remove</button></span>
						</div>
					</td>
					<td>
						<a href="{% url 'person' subscription.person.slug %}">{{subscription.person }}</a>
					</td>
					<td>
						<a href="{% url 'person_feed' subscription.person.slug %}" title="RSS feed for Sponsored Legislation by {{person.name}}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
					</td>
				</tr>
				{% endfor %}
				</div>
			</tbody>
			</table>
		</div>

		<h3>Committee Actions</h3>
		<div class="table-responsive">
			<table class='table' id='subscriptions'>
			<thead>
			<tr>
				<th>Remove</th>
				<th>Name</th>
				<th>RSS</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for subscription in committee_action_subscriptions %}
			    <tr class="subscription"  committee_id="{{subscription.committee.id}}" committee_slug ="{{subscription.committee.slug}}">
				    <td align="left">
					    <div>
						    <input type="checkbox" class="removeButton" name="remove" style="float:left;">
						    <span style="display: none;">&nbsp;<button class="removeCommitteeActionsSubscription">Remove</button></span>
					    </div>
				    </td>
				    <td>
					    <a href="{% url 'committee_detail' subscription.committee.slug %}">{{subscription.committee }}</a></td>
				    <td>
					    <a href="{% url 'committee_detail_action_feed' subscription.committee.slug %}" title="RSS feed for Actions for {{subscription.committee.name}}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
				    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

		<h3>Committee Events</h3>
		<div class="table-responsive">
			<table class='table' id='subscriptions'>
			<thead>
			<tr>
				<th>Remove</th>
				<th>Name</th>
				<th>RSS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subscription in committee_event_subscriptions %}
			    <tr class="subscription"  committee_id="{{subscription.committee.id}}" committee_slug ="{{subscription.committee.slug}}">
				    <td align="left">
						<div>
						<input type="checkbox" class="removeButton" name="remove" style="float:left;">
						<span style="display: none;">&nbsp;<button class="removeCommitteeEventsSubscription">Remove</button></span>
						</div>
					</td>
					<td>
						<a href="{% url 'committee_detail' subscription.committee.slug %}">{{subscription.committee }}</a></td>
					<td>
						<a href="{% url 'committee_detail_events_feed' subscription.committee.slug %}" title="RSS feed for Events for {{subscription.committee.name}}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
					</td>
			     
				     
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>



		<h3>Bill Searches</h3>
		<div class="table-responsive">
			<table class='table' id='subscriptions'>
			<thead>
			<tr>
				<th>Remove</th>
				<th>Name</th>
				<th>Search Facets</th>
				<th>RSS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subscription in bill_search_subscriptions %}
			    <tr class="subscription"  subscription_id="{{subscription.id}}" search_term="{{subscription.search_term}}" search_facets='{{subscription.search_facets|jsonify}}'>
				    <td align="left">
					    <div>
						    <input type="checkbox" class="removeButton" name="remove" style="float:left;">
						    <span style="display: none;">&nbsp;<button class="removeBillSearchSubscription">Remove</button></span>
					    </div>
				    </td>
				    
				    <td>
					    <a href="{{ subscription|custom_reverse_search_url }}">{{subscription.search_term }}</a></td>
				    <td>{% for key, values in subscription.search_facets.items %}
					    <b>{{key}}</b>:
					    {% for v in values %}
					    {{v}}
					    {% endfor %} <br>
					{% endfor %}
				    </td>
				    
				    <td>
					    <a href="{# url 'councilmatic_search_feed' subscription.search_term #}" title="RSS feed for Actions for {{subscription.committee.name}}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
				    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


		<h3>Bill Actions</h3>
		<div class="table-responsive">
			<table class='table' id='subscriptions'>
			<thead>
			<tr>
				<th>Remove</th>
				<th>Name</th>
				<th>RSS</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for subscription in bill_action_subscriptions %}
			    <tr class="subscription"  bill_id="{{subscription.bill.id}}" bill_slug ="{{subscription.bill.slug}}">
				    <td align="left">
					    <div>
						    <input type="checkbox" class="removeButton" name="remove" style="float:left;">
						    <span style="display: none;">&nbsp;<button class="removeBillActionsSubscription">Remove</button></span>
					    </div>
				    </td>
				    <td>
					    <a href="{% url 'bill_detail' subscription.bill.slug %}">{{subscription.bill}}</a></td>
				    <td>
					    <a href="{% url 'bill_detail_action_feed' subscription.bill.slug %}" title="RSS feed for Actions for {{subscription.bill.name}}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
				    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


		<h3>{{ CITY_VOCAB.EVENTS }}</h3>
		<div class="table-responsive">
			<table class='table' id='subscriptions'>
			<thead>
			<tr>
				<th>Remove</th>
				<th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subscription in events_subscriptions %} {# When the only possible subscription is for "all" events, there should only be one #}
                            <tr class="subscription" subscription_id="{{subscription.id}}">
                             <td align="left">
				     <div>
					     <input type="checkbox" class="removeButton" name="remove" style="float:left;">
					     <span style="display: none;">&nbsp;<button class="removeEventsSubscription">Remove</button></span>
				     </div>
                             </td>
			     <td>
				     All {{ CITY_VOCAB.EVENTS }}
			     </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
	    
		
		

        </div>

    </div>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

    <script>
    // remove the actual interest

    function removeSubscription(container, subscriptionType) {
	    console.log("container is "  + container);
	    console.log(container);

	    switch(subscriptionType) {
		    /*
		       Types of subscriptions:
		       1) person subscription
		       2) committee action subscriptions
		       3) committee event subscriptions
		       4) bill (action) subscriptions
		       5) bill search subscriptions
		       6) (all) events subscriptions
		     */
		    case "personSubscription":
			    var person_slug = container.attr("person_slug");
			    $.post("/person/" + person_slug + "/unsubscribe/", function(data) {
				    console.log("Deleted interest " + person_slug);
				    container.remove();
			    }).error(function() {
				    console.log("Error deleting interest " + person_slug);
			    });
			    break;
		    case "committeeActionsSubscription":
			    var committee_slug = container.attr("committee_slug");
			    $.post("/committee/" + committee_slug + "/actions/unsubscribe/", function(data) {
				    console.log("Deleted interest " + committee_slug);
				    container.remove();
			    }).error(function() {
				    console.log("Error deleting interest " + committee_slug);
			    });
			    break;
		    case "committeeEventsSubscription":
			    var committee_slug = container.attr("committee_slug");
			    console.log("committeeEventsSubscription: slug=" + committee_slug);
			    
			    $.post("/committee/" + committee_slug + "/events/unsubscribe/", function(data) {
				    console.log("Deleted interest " + committee_slug);
				    container.remove();
			    }).error(function() {
				    console.log("Error deleting interest " + committee_slug);
			    });
			    break;
		    case "billSearchSubscription":
			    var search_id = container.attr("subscription_id");
			    posturl = '/search_unsubscribe/' + search_id + '/';
			    $.post(posturl).error(function() {
				    console.log("Error unsubscribing to BillSearchSubscription ", search_id);
			    });
			    console.log("Deleted search");
			    container.remove();
			    break;
		    case "eventsSubscription":
			    var search_id = container.attr("subscription_id");
			    posturl = '/events/unsubscribe/';
			    $.post(posturl).error(function() {
				    console.log("Error unsubscribing to EventsSubscription ");
			    });
			    console.log("Deleted search");
			    container.remove();
			    break;
	    }
    }

    // Add callbacks for hidden "remove" buttons
    // 1. Person Subscriptions
    // 2. Committee Actions Subscriptions
    // 3. Committee Events Subscriptions
    // 4. Bill Search Subscriptions
    // 5. Bill Actions Subscriptions
    // 6. Events Subscriptions
    $("button.removePersonSubscription").click(function() {
	    var container = $(this).parents(".subscription");
	    removeSubscription(container, "personSubscription");
    });

    $("button.removeCommitteeActionsSubscription").click(function() {
	    var container = $(this).parents(".subscription");
	    removeSubscription(container, "committeeActionsSubscription");
    });

    $("button.removeCommitteeEventsSubscription").click(function() {
	    var container = $(this).parents(".subscription");
	    removeSubscription(container, "committeeEventsSubscription");
    });

    $("button.removeBillSearchSubscription").click(function() {
	    var container = $(this).parents(".subscription");
	    removeSubscription(container, "billSearchSubscription");
    });

    $("button.removeBillActionsSubscription").click(function() {
	    var container = $(this).parents(".subscription");
	    removeSubscription(container, "billActionsSubscription");
    });

    $("button.removeEventsSubscription").click(function() {
	    var container = $(this).parents(".subscription");
	    removeSubscription(container, "eventsSubscription");
    });

    $("input.removeButton").click(function() {
	    // find the adjacent button and make it visible
	    button = $(this).next();
	    if ($(this).is(":checked")) {
		    button.css("display", "block");
	    }
	    else {
		    button.css("display", "none");
	    }
    });

        $("#committees").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [0,'asc'] ],
            "aoColumns": [
                null,
                null,
                null
            ]
        });

        $("#subcommittees").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [0,'asc'] ],
            "aoColumns": [
                null,
                null,
                null
            ]
        });

        $("#taskforces").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [0,'asc'] ],
            "aoColumns": [
                null,
                null,
                null
            ]
        });
    </script>
{% endblock %}
