name: Python package

on:
  push:
    branches:
      - master
      - 2.5
      - 3.x
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    services:
      postgres:
        image: postgis/postgis:14-3.2
        env:
          POSTGRES_DB: django_councilmatic
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: System dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gdal-bin libreoffice unoconv nodejs
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt
          pip install -e .
          npm install --legacy-peer-deps
      - name: Test with pytest
        run: |
          flake8 councilmatic_core tests
          black --check --exclude councilmatic_core/migrations/* councilmatic_core tests
          npx eslint councilmatic_core/static/js/*.js
          pytest -sxv
